/* GENERAL */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Utilities */
/* body {
    background-color: red
}
 */

h1, 
h2, 
h3, 
h4, 
h5, 
p,
a {
    color: white;
    text-decoration: none;
    font-weight: 800
}

.main-conteiner {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-g-1 {
    flex-grow: 1;
}


.debug {
    height: 2000px;
    width: 200px;
    margin: 0 auto;
    background-color: black
} 




/* Main */
main {
    background-color: red /* TODO: delete */;
    display: flex;
}


/* Navigation Bar */
.navigation-bar {
    background-color: green;
    height: 100%;
    width: 200px;
    flex-shrink: 0;
 }

.navigation-list {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    list-style: none;
}

.navigation-item {
    border: 1px solid white /* TODO: delete */;
}







/* Main Content */
.main-content {
    background-color: yellow /* TODO: delete */;
    display:flex;
    flex-direction: column;
}

/* Call to Action */
.call {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
}




/* Cover Conteiner */
.cover-conteiner {
    border: 1px solid blue; /* TODO: delete*/
    
}







/* Footer */
footer {
    background-color: blue /* TODO: delete */;
    height: 80px;
    flex-shrink: 0;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    
}

.footer-item {
    border: 1px solid white /* TODO: delete*/;
    width: calc(100% / 3); /* TODO: delete */
    height: 100%;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}




/* RESPONSIVE */
/* Medium */
@media screen and (max-width: 1100px) {
    
}

/* Small */
@media screen and (max-width: 700px) {
    
}

/* Extra Small */
@media screen and (max-width: 600px) {
    .navigation-bar { width: 45px}

}