/* GENERAL */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Utilities */
body {
    background-color: red
}

h1, 
h2, 
h3, 
h4, 
h5, 
p,
a {
    color: white;
    text-decoration: none;
    font-weight: 800
}



