/* GENERAL */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Utilities */
/* body {
    background-color: red
}
 */
h1, 
h2, 
h3, 
h4, 
h5, 
p,
a {
    color: white;
    text-decoration: none;
    font-weight: 800
}

.main-conteiner {
    height: 100vh;
    display: flex;
    flex-direction: column;
}




/* Main */
main {
    background-color: red;
    flex-grow: 1;
    display: flex;
}


/* Navigation Bar */
.navigation-bar {
    background-color: green;
    width: 200px;
    flex-shrink: 0; }



/* Main Content */
.main-content {
    background-color: yellow;
    flex-grow: 1
}



/* Footer */
footer {
    background-color: blue;
    height: 80px;
}


